.hero
{
    color: white;
    display:flex ;
justify-content: space-around;
    padding: 0px 70px;
    align-items: center;
    .part1{
        h1{
            font-size: 50px;
            margin-bottom: 10px;
        }
        p{
            width: 300px;
            font-size: 18px;
            margin-bottom: 10px;
        }
    }
    margin-bottom: 60px;
}
@media (max-width : 992px) {
    .hero
    {
        flex-direction: column-reverse;
        text-align: center;
    }
}